<div class="footer">
    <div class="text footer-content">
        <h3 class="title">CONTACT</h3>
        <p>
            Follow me
        </p>
    </div>
    <div class="row">
        <div class="col footer-content">
            <a href="https://github.com/Sergi0Martin" class="github" title="GitHub" target="_blank"
                rel="noopener noreferrer">
                <img class="img-link github" src="assets/img/github_Link.png">
            </a>
            <a href="https://www.linkedin.com/in/smartin-dev/" class="linkedin" title="Linkedin" target="_blank"
                rel="noopener noreferrer">
                <img class="img-link linkedin" src="assets/img/linkedin_Link.png">
            </a>
            <a href="" class="youtube" title="YouTube" target="_blank"
                rel="noopener noreferrer">
                <img class="img-link youtube" src="assets/img/youtube_Link.png">
            </a>
        </div>
    </div>
</div>