<h1 class="title">C:\ SKILLS</h1>
<div class="center-skills">
    <div class="row">
        <div class="col-12 col-sm-6 skills">
            > .Net
        </div>
        <div class="col-12 col-sm-6 skills">
            > Entity Framework Core
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 skills">
            > SQL Server
        </div>
        <div class="col-12 col-sm-6 skills">
            > CosmosDb
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 skills">
            > TypeScript
        </div>
        <div class="col-12 col-sm-6 skills">
            > Angular
        </div>
    </div>
</div>