<div class="row">
    <p>skills works!</p>
    <div class="col-3 col-s-3 skills">
        - .Net Core (C#)
        - Angular
    </div>
    <div class="col-3 col-s-12 skills">
        - Entity Framework
    </div>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>
<div class="row">
    <p>skills works!</p>
</div>