<style>
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #0f0019;
        overflow: auto;
    }

    .background span {
        width: 1vmin;
        height: 1vmin;
        border-radius: 1vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 35;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }


    .background span:nth-child(0) {
        color: #85ebff;
        top: 47%;
        left: 81%;
        animation-duration: 41s;
        animation-delay: -55s;
        transform-origin: 14vw 0vh;
        box-shadow: 2vmin 0 0.6636611184158594vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #00ffe1;
        top: 61%;
        left: 94%;
        animation-duration: 48s;
        animation-delay: -42s;
        transform-origin: 1vw 5vh;
        box-shadow: 2vmin 0 0.8011227365576414vmin currentColor;
    }

    .background span:nth-child(2) {
        color: #9861ff;
        top: 65%;
        left: 27%;
        animation-duration: 18s;
        animation-delay: -29s;
        transform-origin: 23vw 5vh;
        box-shadow: 2vmin 0 0.49560777257196764vmin currentColor;
    }

/* 
    .background span:nth-child(3) {
        color: #001eff;
        top: 72%;
        left: 51%;
        animation-duration: 90s;
        animation-delay: -42s;
        transform-origin: 25vw 1vh;
        box-shadow: 2vmin 0 0.9005921256851748vmin currentColor;
    }

    .background span:nth-child(4) {
        color: #9861ff;
        top: 71%;
        left: 70%;
        animation-duration: 47s;
        animation-delay: -77s;
        transform-origin: 9vw 25vh;
        box-shadow: 2vmin 0 0.8433124745730507vmin currentColor;
    }

    .background span:nth-child(5) {
        color: #9861ff;
        top: 1%;
        left: 74%;
        animation-duration: 33s;
        animation-delay: -51s;
        transform-origin: -20vw 21vh;
        box-shadow: -2vmin 0 0.3977634728759514vmin currentColor;
    }

    .background span:nth-child(6) {
        color: #85ebff;
        top: 59%;
        left: 60%;
        animation-duration: 69s;
        animation-delay: -8s;
        transform-origin: 9vw 21vh;
        box-shadow: -2vmin 0 0.6547897123827602vmin currentColor;
    }

    .background span:nth-child(7) {
        color: #001eff;
        top: 71%;
        left: 92%;
        animation-duration: 53s;
        animation-delay: -150s;
        transform-origin: 10vw 11vh;
        box-shadow: 2vmin 0 1.105828761580773vmin currentColor;
    }

    .background span:nth-child(8) {
        color: #001eff;
        top: 19%;
        left: 91%;
        animation-duration: 133s;
        animation-delay: -31s;
        transform-origin: 2vw 12vh;
        box-shadow: -2vmin 0 0.6798687744519989vmin currentColor;
    }

    .background span:nth-child(9) {
        color: #85ebff;
        top: 67%;
        left: 22%;
        animation-duration: 64s;
        animation-delay: -26s;
        transform-origin: 25vw 15vh;
        box-shadow: -2vmin 0 0.7640057463354162vmin currentColor;
    }

    .background span:nth-child(10) {
        color: #85ebff;
        top: 53%;
        left: 7%;
        animation-duration: 82s;
        animation-delay: -146s;
        transform-origin: 13vw 24vh;
        box-shadow: 2vmin 0 0.6873030286176927vmin currentColor;
    }

    .background span:nth-child(11) {
        color: #9861ff;
        top: 10%;
        left: 38%;
        animation-duration: 17s;
        animation-delay: -98s;
        transform-origin: 16vw 10vh;
        box-shadow: -2vmin 0 0.5180148893504355vmin currentColor;
    }

    .background span:nth-child(12) {
        color: #9861ff;
        top: 63%;
        left: 83%;
        animation-duration: 144s;
        animation-delay: -54s;
        transform-origin: 9vw 15vh;
        box-shadow: -2vmin 0 0.4292253595757132vmin currentColor;
    }

    .background span:nth-child(13) {
        color: #85ebff;
        top: 20%;
        left: 85%;
        animation-duration: 34s;
        animation-delay: -128s;
        transform-origin: 7vw 18vh;
        box-shadow: -2vmin 0 0.3371871011738756vmin currentColor;
    }

    .background span:nth-child(14) {
        color: #85ebff;
        top: 85%;
        left: 78%;
        animation-duration: 51s;
        animation-delay: -85s;
        transform-origin: 15vw 10vh;
        box-shadow: -2vmin 0 1.0067409762014152vmin currentColor;
    }

    .background span:nth-child(15) {
        color: #00ffe1;
        top: 35%;
        left: 86%;
        animation-duration: 97s;
        animation-delay: -78s;
        transform-origin: 5vw 6vh;
        box-shadow: 2vmin 0 0.34936009630904374vmin currentColor;
    }

    .background span:nth-child(16) {
        color: #001eff;
        top: 33%;
        left: 20%;
        animation-duration: 117s;
        animation-delay: -120s;
        transform-origin: 23vw 12vh;
        box-shadow: -2vmin 0 1.2490910515548457vmin currentColor;
    }

    .background span:nth-child(17) {
        color: #9861ff;
        top: 33%;
        left: 13%;
        animation-duration: 25s;
        animation-delay: -98s;
        transform-origin: 15vw 2vh;
        box-shadow: 2vmin 0 0.6174315222382443vmin currentColor;
    }

    .background span:nth-child(18) {
        color: #9861ff;
        top: 18%;
        left: 40%;
        animation-duration: 90s;
        animation-delay: -82s;
        transform-origin: 7vw 10vh;
        box-shadow: -2vmin 0 0.4256342887501048vmin currentColor;
    }

    .background span:nth-child(19) {
        color: #00ffe1;
        top: 77%;
        left: 19%;
        animation-duration: 35s;
        animation-delay: -139s;
        transform-origin: 13vw 7vh;
        box-shadow: -2vmin 0 0.5675707152509732vmin currentColor;
    }

    .background span:nth-child(20) {
        color: #00ffe1;
        top: 41%;
        left: 15%;
        animation-duration: 49s;
        animation-delay: -98s;
        transform-origin: 21vw 24vh;
        box-shadow: 2vmin 0 0.382415031563651vmin currentColor;
    }

    .background span:nth-child(21) {
        color: #00ffe1;
        top: 39%;
        left: 54%;
        animation-duration: 106s;
        animation-delay: -82s;
        transform-origin: 9vw 24vh;
        box-shadow: -2vmin 0 0.8232641407663377vmin currentColor;
    }

    .background span:nth-child(22) {
        color: #9861ff;
        top: 57%;
        left: 73%;
        animation-duration: 51s;
        animation-delay: -65s;
        transform-origin: 1vw 12vh;
        box-shadow: -2vmin 0 0.9305700579620533vmin currentColor;
    }

    .background span:nth-child(23) {
        color: #001eff;
        top: 77%;
        left: 41%;
        animation-duration: 79s;
        animation-delay: -129s;
        transform-origin: 17vw 10vh;
        box-shadow: 2vmin 0 0.5084415508778257vmin currentColor;
    }

    .background span:nth-child(24) {
        color: #9861ff;
        top: 59%;
        left: 58%;
        animation-duration: 104s;
        animation-delay: -43s;
        transform-origin: 12vw 3vh;
        box-shadow: 2vmin 0 0.7193532831167271vmin currentColor;
    }

    .background span:nth-child(25) {
        color: #00ffe1;
        top: 33%;
        left: 25%;
        animation-duration: 105s;
        animation-delay: -130s;
        transform-origin: 8vw 7vh;
        box-shadow: -2vmin 0 0.7479236767442248vmin currentColor;
    }

    .background span:nth-child(26) {
        color: #001eff;
        top: 58%;
        left: 67%;
        animation-duration: 20s;
        animation-delay: -53s;
        transform-origin: 4vw 3vh;
        box-shadow: -2vmin 0 0.5119886732151275vmin currentColor;
    }

    .background span:nth-child(27) {
        color: #9861ff;
        top: 55%;
        left: 60%;
        animation-duration: 134s;
        animation-delay: -57s;
        transform-origin: 19vw 10vh;
        box-shadow: -2vmin 0 0.3574168037278256vmin currentColor;
    }

    .background span:nth-child(28) {
        color: #00ffe1;
        top: 11%;
        left: 73%;
        animation-duration: 76s;
        animation-delay: -77s;
        transform-origin: 4vw 12vh;
        box-shadow: 2vmin 0 0.4715520848455146vmin currentColor;
    }

    .background span:nth-child(29) {
        color: #85ebff;
        top: 41%;
        left: 43%;
        animation-duration: 29s;
        animation-delay: -120s;
        transform-origin: 16vw 15vh;
        box-shadow: 2vmin 0 0.507139996792954vmin currentColor;
    } */
</style>

<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <!-- Header -->
    <div class="header"></div>
    <div class="introduction">
        <h2>I am Sergio Martin</h2>
        <img class="img-circle" src="../assets/fotoPerfil.png" style="width:200px">
        <p>Full Stack Developer</p>
        <p> at <a href="https://www.logisfashion.com/" target="_blank" rel="noopener noreferrer" >LOGISFASHION</a></p>
    </div>

    <app-skills></app-skills> 

    <!-- Footer -->
    <div class="footer">sss
        <p>
            asdasdfssssssssssssssssssssss
        </p>
    </div>
    <!-- <footer class="background-footer">
      Contact me
        <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a> 
  </footer> -->

</div>

<router-outlet></router-outlet>